html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content="")
        meta(name="author", content="")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap")
        link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
        link(rel="icon", href="favicon.ico")
    body
        div(class="")
            section(class="position-relative pb-20 bg-light overflow-hidden")
                div(class="d-none d-lg-block position-absolute top-0 start-0 bottom-0 col-3 col-xl-4 bg-white")
                nav(class="navbar navbar-expand-lg navbar-light pb-lg-20")
                    div(class="container")
                        a(class="navbar-brand", href="#")
                            img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                        button(class="btn p-0 d-lg-none navbar-burger")
                            svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(fill-rule="evenodd", clip-rule="evenodd", d="M3.5 7C3.22386 7 3 6.77614 3 6.5C3 6.22386 3.22386 6 3.5 6H20.5C20.7761 6 21 6.22386 21 6.5C21 6.77614 20.7761 7 20.5 7H3.5ZM3.5 12C3.22386 12 3 11.7761 3 11.5C3 11.2239 3.22386 11 3.5 11H20.5C20.7761 11 21 11.2239 21 11.5C21 11.7761 20.7761 12 20.5 12H3.5ZM3 16.5C3 16.7761 3.22386 17 3.5 17H20.5C20.7761 17 21 16.7761 21 16.5C21 16.2239 20.7761 16 20.5 16H3.5C3.22386 16 3 16.2239 3 16.5Z", fill="#006251")
                        ul(class="navbar-nav ms-auto d-none d-lg-flex me-10 me-lg-20")
                            li(class="nav-item")
                                a(class="nav-link", href="#") About
                            li(class="nav-item")
                                a(class="nav-link", href="#") Company
                            li(class="nav-item")
                                a(class="nav-link", href="#") Services
                        div(class="d-none d-lg-block")
                div(class="container position-relative")
                    div(class="row")
                        div(class="position-relative col-lg-5 h-100 mb-16 mb-lg-0")
                            div(class="position-absolute top-0 start-0 bottom-0 end-0 ms-8 me-n2 mt-6 mb-n6 bg-primary")
                            img(class="position-relative img-fluid h-100", style="object-fit: cover;", src="https://images.unsplash.com/photo-1593062096033-9a26b09da705?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                            div(class="position-absolute bottom-0 end-0 d-flex me-3")
                                button(class="btn btn-secondary", style="width: 64px; height: 64px;")
                                    svg(style="width: 12px; height: 9px;", width="12", height="9", viewbox="0 0 12 9", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M1.70711 4H11.5C11.7761 4 12 4.22386 12 4.5C12 4.77614 11.7761 5 11.5 5H1.70711L4.85355 8.14645C5.04882 8.34171 5.04882 8.65829 4.85355 8.85355C4.65829 9.04882 4.34171 9.04882 4.14645 8.85355L0.146447 4.85355C-0.0488155 4.65829 -0.0488155 4.34171 0.146447 4.14645L4.14645 0.146447C4.34171 -0.0488155 4.65829 -0.0488155 4.85355 0.146447C5.04882 0.341709 5.04882 0.658291 4.85355 0.853553L1.70711 4Z", fill="#322C1C")
                                button(class="btn btn-secondary", style="width: 64px; height: 64px;")
                                    svg(style="width: 12px; height: 9px;", width="12", height="9", viewbox="0 0 12 9", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M10.2929 5H0.5C0.223858 5 0 4.77614 0 4.5C0 4.22386 0.223858 4 0.5 4H10.2929L7.14645 0.853553C6.95118 0.658291 6.95118 0.341709 7.14645 0.146447C7.34171 -0.0488155 7.65829 -0.0488155 7.85355 0.146447L11.8536 4.14645C12.0488 4.34171 12.0488 4.65829 11.8536 4.85355L7.85355 8.85355C7.65829 9.04882 7.34171 9.04882 7.14645 8.85355C6.95118 8.65829 6.95118 8.34171 7.14645 8.14645L10.2929 5Z", fill="#322C1C")
                        div(class="col-12 col-lg-7 mb-5 mb-lg-0")
                            div(class="mt-lg-6")
                                div(class="mw-lg-md ms-lg-20")
                                    h2(class="mb-5 text-primary") Take care of your performance every day.
                                    p(class="lead text-muted lh-lg mb-6") Build a well-presented brand that everyone will love. Take care to develop resources continually and integrity them with previous projects.
                                    div(class="mb-16 mb-lg-24")
                                        a(class="btn btn-primary d-block d-md-inline-block mb-2 mb-md-0 mb-lg-0 me-md-4", href="#") Track your performance
                                        a(class="btn btn-dark d-block d-md-inline-block", href="#") Learn More
                                div(class="ms-lg-20")
                                    div(class="row align-items-center")
                                        div(class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0")                       
                                        |                     
                                        div(class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0")                       
                                        |                     
                                        div(class="col-6 col-md-4 col-lg-2 mb-12 mb-lg-0")                       
                                        |                     
                                        div(class="col-6 col-md-4 col-lg-2")                       
                                        |                     
                                        div(class="col-6 col-md-4 col-lg-2")                       
                                        |                     
                div(class="d-none navbar-menu position-fixed top-0 start-0 bottom-0 w-75 mw-sm", style="z-index: 9999;")
                    div(class="navbar-backdrop position-fixed top-0 start-0 end-0 bottom-0 bg-primary", style="opacity: 90%;")
                    nav(class="position-relative h-100 w-100 d-flex flex-column py-6 px-6 navbar-light bg-white overflow-auto")
                        div(class="d-flex align-items-center mb-10")
                            a(class="me-auto navbar-brand", href="#")
                                img(src="cronos-assets/logos/cronos-logo.svg", alt="", width="132")
                            button(class="navbar-close btn-close", type="button", aria-label="Close")
                        div
                            ul(class="nav flex-column")
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") About
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Company
                                li(class="nav-item mb-4")
                                    a(class="nav-link", href="#") Services
                        div(class="mt-auto")
                            div(class="py-6")
                                a(class="w-100 btn btn-primary mb-2", href="#") Sign In
                                a(class="w-100 btn btn-secondary", href="#") Sign Up
                            p(class="mb-4 small text-center text-muted") © 2021 All rights reserved.
            section(class="py-20")
                div(class="container")
                    div(class="row")
                        div(class="col-12 col-lg-6 mb-10 mb-lg-0")
                            div(class="mw-lg-md")
                                h3(class="my-6") Lorem ipsum dolor sit amet consectutar domor at elis
                                p(class="mw-lg-sm lead lh-lg text-muted") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque massa nibh, pulvinar vitae aliquet nec, accumsan aliquet orci.
                        div(class="col-12 col-lg-6")
                            div(class="row")
                                div(class="col-12 col-md-6 mb-10")
                                    span
                                        svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M14 40H40", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M8 40V34L34 8L40 14L14 40H8Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M34 20L28 14", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 fw-normal") Change of access
                                    p(class="lead lh-lg text-muted") Take care to develop resources continually and integrity them with previous projects.
                                div(class="col-12 col-md-6 mb-10")
                                    span
                                        svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M8 14L24 6L40 14V34L24 42L8 34V14Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M30 18L18 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M18 18L30 30", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 fw-normal") No errors
                                    p(class="lead lh-lg text-muted") Take care to develop resources continually and integrity them with previous projects.
                                div(class="col-12 col-md-6 mb-10 mb-lg-0")
                                    span
                                        svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M24 44C24 44 40 36 40 24V10L24 4L8 10V24C8 36 24 44 24 44Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M16 23L22 29L34 17", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 fw-normal") Security in savings
                                    p(class="lead lh-lg text-muted") Take care to develop resources continually and integrity them with previous projects.
                                div(class="col-12 col-md-6")
                                    span
                                        svg(width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            path(d="M24 30C27.866 30 31 26.866 31 23C31 19.134 27.866 16 24 16C20.134 16 17 19.134 17 23C17 26.866 20.134 30 24 30Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M42 23.9999C42.006 28.6858 40.1784 33.1881 36.908 36.5439C35.2324 38.2727 33.2261 39.6466 31.0086 40.5839C28.791 41.5213 26.4075 42.0028 24 41.9999C21.5925 42.0028 19.209 41.5213 16.9914 40.5839C14.7739 39.6466 12.7676 38.2727 11.092 36.5439C9.03644 34.4289 7.53208 31.8412 6.71122 29.0085C5.89036 26.1757 5.77815 23.1846 6.38447 20.2982C6.99079 17.4119 8.29705 14.7188 10.1884 12.4557C12.0797 10.1927 14.4981 8.42905 17.2309 7.31994C19.9638 6.21082 22.9273 5.79021 25.8608 6.0951C28.7943 6.39999 31.608 7.42105 34.0543 9.06846C36.5006 10.7159 38.5047 12.9392 39.8902 15.5428C41.2757 18.1464 42.0002 21.0506 42 23.9999V23.9999Z", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                            path(d="M11.092 36.544C12.5768 34.5144 14.5197 32.8639 16.7626 31.7268C19.0056 30.5897 21.4853 29.9981 24 30C26.5147 29.9981 28.9944 30.5897 31.2374 31.7268C33.4803 32.8639 35.4232 34.5144 36.908 36.544", stroke="#006251", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                    h6(class="mt-8 mb-4 fw-normal") List of regular users
                                    p(class="lead lh-lg text-muted") Take care to develop resources continually and integrity them with previous projects.
            section(class="py-20 bg-light")
                div(class="container")
                    div(class="mw-3xl mx-auto mb-16 text-center")
                        h2(class="mt-6 mb-4") Take quick action that increases your brand's regular profit.
                        p(class="mw-xl mx-auto lead lh-lg text-muted") If you have ever wondered how to develop your brand, this is the place for you. Take a big step forward in growing your business with this great tool.
                    div(class="row mb-n4")
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 1
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 2
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 3
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 4
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 5
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
                        div(class="col-12 col-lg-4 p-4")
                            div(class="py-10 px-8 bg-white text-center")
                                span(class="d-flex mx-auto mb-6 align-items-center justify-content-center h6 bg-primary text-white", style="width: 64px; height: 64px;") 6
                                h6(class="my-6") Suspendisse interdum ullamcorper elit at
                                p(class="lead lh-lg text-muted") Suspendisse vel leo ac quam placerat luctus. Aliquam sit amet nisl ac urna dignissim feugiat nec in ante. Sed sit amet finibus risus, quis mollis erat.
            section(class="py-20")
                div(class="container")
                    div(class="row align-items-center")
                        div(class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-0")
                            div(class="position-relative mx-auto mb-6")
                                div(class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle")
                                    p(class="mb-0 fw-bold text-muted") 65%
                                span(class="position-relative")
                                    svg(class="me-3", width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M45 90C37.3005 90 29.7298 88.0244 23.0121 84.2623C16.2943 80.5002 10.6542 75.0773 6.6312 68.5124C2.60823 61.9475 0.336984 54.4602 0.0347 46.7667C-0.267576 39.0731 1.40922 31.4307 4.90471 24.5704C8.4002 17.7101 13.5975 11.8615 19.9993 7.58387C26.4012 3.30627 33.7936 0.742814 41.4693 0.138719C49.1451 -0.465376 56.8475 0.910098 63.8397 4.13356C70.8319 7.35702 76.8801 12.3207 81.4058 18.5497L79.5855 19.8722C75.2861 13.9546 69.5403 9.23917 62.8977 6.17687C56.2551 3.11459 48.9378 1.80789 41.6459 2.38178C34.3539 2.95567 27.3312 5.39095 21.2494 9.45467C15.1676 13.5184 10.2302 19.0746 6.90948 25.5919C3.58876 32.1092 1.9958 39.3695 2.28297 46.6784C2.57014 53.9872 4.72782 61.1002 8.54964 67.3368C12.3715 73.5735 17.7296 78.7252 24.1114 82.2992C30.4933 85.8732 37.6855 87.75 45 87.75L45 90Z", fill="#CCE0DC")
                                |                 
                                span(class="position-absolute top-0 start-0 bottom-0 end-0 ms-2")
                                    svg(width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M37 0C44.6995 9.18154e-08 52.2702 1.97555 58.988 5.73768C65.7057 9.49981 71.3458 14.9227 75.3688 21.4876C79.3918 28.0525 81.663 35.5398 81.9653 43.2333C82.2676 50.9268 80.5908 58.5693 77.0953 65.4296C73.5998 72.2899 68.4025 78.1385 62.0007 82.4161C55.5988 86.6937 48.2064 89.2572 40.5307 89.8613C32.8549 90.4654 25.1526 89.0899 18.1603 85.8664C11.1681 82.643 5.11988 77.6794 0.594241 71.4503L2.41453 70.1278C6.71389 76.0454 12.4597 80.7608 19.1023 83.8231C25.7449 86.8854 33.0622 88.1921 40.3541 87.6182C47.6461 87.0443 54.6688 84.609 60.7506 80.5453C66.8324 76.4816 71.7698 70.9254 75.0905 64.4081C78.4112 57.8908 80.0042 50.6305 79.717 43.3216C79.4299 36.0128 77.2722 28.8998 73.4504 22.6632C69.6285 16.4265 64.2704 11.2748 57.8886 7.7008C51.5067 4.12677 44.3145 2.25 37 2.25V0Z", fill="#006251")
                            h6(class="mb-2") Stat Example 1
                            p(class="text-muted") Dolor sit amet consectutar
                        div(class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-lg-0")
                            div(class="position-relative mx-auto mb-6")
                                div(class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle")
                                    p(class="mb-0 fw-bold text-muted") 65%
                                span(class="position-relative")
                                    svg(class="me-3", width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M45 90C37.3005 90 29.7298 88.0244 23.0121 84.2623C16.2943 80.5002 10.6542 75.0773 6.6312 68.5124C2.60823 61.9475 0.336984 54.4602 0.0347 46.7667C-0.267576 39.0731 1.40922 31.4307 4.90471 24.5704C8.4002 17.7101 13.5975 11.8615 19.9993 7.58387C26.4012 3.30627 33.7936 0.742814 41.4693 0.138719C49.1451 -0.465376 56.8475 0.910098 63.8397 4.13356C70.8319 7.35702 76.8801 12.3207 81.4058 18.5497L79.5855 19.8722C75.2861 13.9546 69.5403 9.23917 62.8977 6.17687C56.2551 3.11459 48.9378 1.80789 41.6459 2.38178C34.3539 2.95567 27.3312 5.39095 21.2494 9.45467C15.1676 13.5184 10.2302 19.0746 6.90948 25.5919C3.58876 32.1092 1.9958 39.3695 2.28297 46.6784C2.57014 53.9872 4.72782 61.1002 8.54964 67.3368C12.3715 73.5735 17.7296 78.7252 24.1114 82.2992C30.4933 85.8732 37.6855 87.75 45 87.75L45 90Z", fill="#CCE0DC")
                                |                 
                                span(class="position-absolute top-0 start-0 bottom-0 end-0 ms-2")
                                    svg(width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M37 0C44.6995 9.18154e-08 52.2702 1.97555 58.988 5.73768C65.7057 9.49981 71.3458 14.9227 75.3688 21.4876C79.3918 28.0525 81.663 35.5398 81.9653 43.2333C82.2676 50.9268 80.5908 58.5693 77.0953 65.4296C73.5998 72.2899 68.4025 78.1385 62.0007 82.4161C55.5988 86.6937 48.2064 89.2572 40.5307 89.8613C32.8549 90.4654 25.1526 89.0899 18.1603 85.8664C11.1681 82.643 5.11988 77.6794 0.594241 71.4503L2.41453 70.1278C6.71389 76.0454 12.4597 80.7608 19.1023 83.8231C25.7449 86.8854 33.0622 88.1921 40.3541 87.6182C47.6461 87.0443 54.6688 84.609 60.7506 80.5453C66.8324 76.4816 71.7698 70.9254 75.0905 64.4081C78.4112 57.8908 80.0042 50.6305 79.717 43.3216C79.4299 36.0128 77.2722 28.8998 73.4504 22.6632C69.6285 16.4265 64.2704 11.2748 57.8886 7.7008C51.5067 4.12677 44.3145 2.25 37 2.25V0Z", fill="#006251")
                            h6(class="mb-2") Stat Example 1
                            p(class="text-muted") Dolor sit amet consectutar
                        div(class="col-12 col-md-6 col-lg-3 text-center mb-5 mb-md-0")
                            div(class="position-relative mx-auto mb-6")
                                div(class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle")
                                    p(class="mb-0 fw-bold text-muted") 65%
                                span(class="position-relative")
                                    svg(class="me-3", width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M45 90C37.3005 90 29.7298 88.0244 23.0121 84.2623C16.2943 80.5002 10.6542 75.0773 6.6312 68.5124C2.60823 61.9475 0.336984 54.4602 0.0347 46.7667C-0.267576 39.0731 1.40922 31.4307 4.90471 24.5704C8.4002 17.7101 13.5975 11.8615 19.9993 7.58387C26.4012 3.30627 33.7936 0.742814 41.4693 0.138719C49.1451 -0.465376 56.8475 0.910098 63.8397 4.13356C70.8319 7.35702 76.8801 12.3207 81.4058 18.5497L79.5855 19.8722C75.2861 13.9546 69.5403 9.23917 62.8977 6.17687C56.2551 3.11459 48.9378 1.80789 41.6459 2.38178C34.3539 2.95567 27.3312 5.39095 21.2494 9.45467C15.1676 13.5184 10.2302 19.0746 6.90948 25.5919C3.58876 32.1092 1.9958 39.3695 2.28297 46.6784C2.57014 53.9872 4.72782 61.1002 8.54964 67.3368C12.3715 73.5735 17.7296 78.7252 24.1114 82.2992C30.4933 85.8732 37.6855 87.75 45 87.75L45 90Z", fill="#CCE0DC")
                                |                 
                                span(class="position-absolute top-0 start-0 bottom-0 end-0 ms-2")
                                    svg(width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M37 0C44.6995 9.18154e-08 52.2702 1.97555 58.988 5.73768C65.7057 9.49981 71.3458 14.9227 75.3688 21.4876C79.3918 28.0525 81.663 35.5398 81.9653 43.2333C82.2676 50.9268 80.5908 58.5693 77.0953 65.4296C73.5998 72.2899 68.4025 78.1385 62.0007 82.4161C55.5988 86.6937 48.2064 89.2572 40.5307 89.8613C32.8549 90.4654 25.1526 89.0899 18.1603 85.8664C11.1681 82.643 5.11988 77.6794 0.594241 71.4503L2.41453 70.1278C6.71389 76.0454 12.4597 80.7608 19.1023 83.8231C25.7449 86.8854 33.0622 88.1921 40.3541 87.6182C47.6461 87.0443 54.6688 84.609 60.7506 80.5453C66.8324 76.4816 71.7698 70.9254 75.0905 64.4081C78.4112 57.8908 80.0042 50.6305 79.717 43.3216C79.4299 36.0128 77.2722 28.8998 73.4504 22.6632C69.6285 16.4265 64.2704 11.2748 57.8886 7.7008C51.5067 4.12677 44.3145 2.25 37 2.25V0Z", fill="#006251")
                            h6(class="mb-2") Stat Example 1
                            p(class="text-muted") Dolor sit amet consectutar
                        div(class="col-12 col-md-6 col-lg-3 text-center")
                            div(class="position-relative mx-auto mb-6")
                                div(class="d-flex justify-content-center align-items-center position-absolute top-50 start-50 translate-middle")
                                    p(class="mb-0 fw-bold text-muted") 65%
                                span(class="position-relative")
                                    svg(class="me-3", width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M45 90C37.3005 90 29.7298 88.0244 23.0121 84.2623C16.2943 80.5002 10.6542 75.0773 6.6312 68.5124C2.60823 61.9475 0.336984 54.4602 0.0347 46.7667C-0.267576 39.0731 1.40922 31.4307 4.90471 24.5704C8.4002 17.7101 13.5975 11.8615 19.9993 7.58387C26.4012 3.30627 33.7936 0.742814 41.4693 0.138719C49.1451 -0.465376 56.8475 0.910098 63.8397 4.13356C70.8319 7.35702 76.8801 12.3207 81.4058 18.5497L79.5855 19.8722C75.2861 13.9546 69.5403 9.23917 62.8977 6.17687C56.2551 3.11459 48.9378 1.80789 41.6459 2.38178C34.3539 2.95567 27.3312 5.39095 21.2494 9.45467C15.1676 13.5184 10.2302 19.0746 6.90948 25.5919C3.58876 32.1092 1.9958 39.3695 2.28297 46.6784C2.57014 53.9872 4.72782 61.1002 8.54964 67.3368C12.3715 73.5735 17.7296 78.7252 24.1114 82.2992C30.4933 85.8732 37.6855 87.75 45 87.75L45 90Z", fill="#CCE0DC")
                                |                 
                                span(class="position-absolute top-0 start-0 bottom-0 end-0 ms-2")
                                    svg(width="82", height="90", viewbox="0 0 82 90", fill="none", xmlns="http://www.w3.org/2000/svg")
                                        path(d="M37 0C44.6995 9.18154e-08 52.2702 1.97555 58.988 5.73768C65.7057 9.49981 71.3458 14.9227 75.3688 21.4876C79.3918 28.0525 81.663 35.5398 81.9653 43.2333C82.2676 50.9268 80.5908 58.5693 77.0953 65.4296C73.5998 72.2899 68.4025 78.1385 62.0007 82.4161C55.5988 86.6937 48.2064 89.2572 40.5307 89.8613C32.8549 90.4654 25.1526 89.0899 18.1603 85.8664C11.1681 82.643 5.11988 77.6794 0.594241 71.4503L2.41453 70.1278C6.71389 76.0454 12.4597 80.7608 19.1023 83.8231C25.7449 86.8854 33.0622 88.1921 40.3541 87.6182C47.6461 87.0443 54.6688 84.609 60.7506 80.5453C66.8324 76.4816 71.7698 70.9254 75.0905 64.4081C78.4112 57.8908 80.0042 50.6305 79.717 43.3216C79.4299 36.0128 77.2722 28.8998 73.4504 22.6632C69.6285 16.4265 64.2704 11.2748 57.8886 7.7008C51.5067 4.12677 44.3145 2.25 37 2.25V0Z", fill="#006251")
                            h6(class="mb-2") Stat Example 1
                            p(class="text-muted") Dolor sit amet consectutar
            section(class="py-20 overflow-hidden")
                div(class="container")
                    div(class="max-w-6xl mx-auto")
                        div(class="row align-items-center justify-content-between mb-12")
                            div(class="col-12 col-lg-6 mb-6 mb-lg-0")
                                h2(class="mt-6") Lorem ipsum dolor sit amet consectutar
                            div(class="col-12 col-lg-auto")                 
                            |               
                        div(class="row mb-n4")
                            div(class="col-12 col-lg-6 p-4")
                                div(class="position-relative")
                                    img(class="d-none d-lg-block position-absolute top-0 start-0 translate-middle-x", src="cronos-assets/elements/light-warning-dark-green.svg", alt="")
                                    img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80", alt="")
                            div(class="col-12 col-lg-6 p-4")
                                img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1467007849282-42dad96c2312?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80", alt="")
                            div(class="col-12 col-lg-4 p-4")
                                img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1598826859769-e62543ab62b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                            div(class="col-12 col-lg-4 p-4")
                                img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1488751045188-3c55bbf9a3fa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80", alt="")
                            div(class="col-12 col-lg-4 p-4")
                                img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1598826859769-e62543ab62b0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80", alt="")
                            div(class="col-12 col-lg-6 p-4")
                                img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1556761175-4b46a572b786?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=667&q=80", alt="")
                            div(class="col-12 col-lg-6 p-4")
                                div(class="position-relative")
                                    img(class="d-none d-lg-block position-absolute top-100 start-100 translate-middle", src="cronos-assets/elements/light-warning-dark-green.svg", alt="")
                                    img(class="img-fluid w-100", style="height: 292px; object-fit: cover;", src="https://images.unsplash.com/photo-1467007849282-42dad96c2312?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=755&q=80", alt="")
            section(class="py-20")
                div(class="container")
                    div(class="mw-xl mx-auto text-center mb-6")
                        h2(class="mt-6") Lorem ipsum dolor sit amet consectutar
                    div(class="row align-items-center justify-content-center")
                        button(class="d-none d-lg-inline-flex btn btn-primary align-items-center justify-content-center p-0", style="width: 64px; height: 64px")
                            svg(style="width: 24px; height: 24px;", width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M8.70711 12H18.5C18.7761 12 19 12.2239 19 12.5C19 12.7761 18.7761 13 18.5 13H8.70711L11.8536 16.1464C12.0488 16.3417 12.0488 16.6583 11.8536 16.8536C11.6583 17.0488 11.3417 17.0488 11.1464 16.8536L7.14645 12.8536C6.95118 12.6583 6.95118 12.3417 7.14645 12.1464L11.1464 8.14645C11.3417 7.95118 11.6583 7.95118 11.8536 8.14645C12.0488 8.34171 12.0488 8.65829 11.8536 8.85355L8.70711 12Z", fill="white")
                        div(class="col-12 col-lg-10 px-lg-0 text-center")
                            div(class="p-6 px-lg-20 py-lg-12 bg-light-light text-center mb-6")
                                p(class="lead lh-lg text-muted mb-6") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dignissim quam ultricies, placerat tellus sed, laoreet orci. Duis luctus quam ac metus gravida sodales. Sed a ex accumsan, pellentesque sem eget, scelerisque dolor.
                                img(class="mx-auto img-fluid mb-4 rounded-circle", style="width: 88px; height: 88px; object-fit: cover; object-position: right;", src="https://images.unsplash.com/photo-1568602471122-7832951cc4c5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80", alt="")
                                h6(class="text-primary") Danny Bailey
                                p(class="fw-bold") CEO & Founder
                            div(class="text-center")
                                button(class="btn btn-light p-0 me-2", style="width: 12px; height: 12px; transform: rotate(45deg);")
                                button(class="btn btn-light p-0 me-2", style="width: 12px; height: 12px; transform: rotate(45deg);")
                                button(class="btn btn-primary p-0 me-2", style="width: 12px; height: 12px; transform: rotate(45deg);")
                                button(class="btn btn-secondary p-0", style="width: 12px; height: 12px; transform: rotate(45deg);")
                        button(class="d-none d-lg-inline-flex btn btn-primary align-items-center justify-content-center p-0", style="width: 64px; height: 64px")
                            svg(style="width: 24px; height: 24px;", width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M17.2929 13H7.5C7.22386 13 7 12.7761 7 12.5C7 12.2239 7.22386 12 7.5 12H17.2929L14.1464 8.85355C13.9512 8.65829 13.9512 8.34171 14.1464 8.14645C14.3417 7.95118 14.6583 7.95118 14.8536 8.14645L18.8536 12.1464C19.0488 12.3417 19.0488 12.6583 18.8536 12.8536L14.8536 16.8536C14.6583 17.0488 14.3417 17.0488 14.1464 16.8536C13.9512 16.6583 13.9512 16.3417 14.1464 16.1464L17.2929 13Z", fill="white")
            section(class="py-20")
                div(class="container mb-32")
                    div(class="row")
                        div(class="col-12 col-md-4 text-center mb-8 mb-md-0")
                            svg(class="mx-auto mb-4", width="38", height="38", viewbox="0 0 38 38", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M13 5L1 1V33L13 37M13 5L25 1M13 5V37M25 1L37 5V37L25 33M25 1V33M25 33L13 37", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                            h6(class="mb-2") Visit Us
                            p(class="mb-1") 1686, Geraldine Lane
                            p(class="mb-0") New York, NY 10013
                        div(class="col-12 col-md-4 text-center mb-8 mb-md-0")
                            svg(class="mx-auto mb-4", width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M7 11L21.1716 25.1716C22.7337 26.7337 25.2663 26.7337 26.8284 25.1716L41 11M8 38H40C41.1046 38 42 37.1046 42 36V12C42 10.8954 41.1046 10 40 10H8C6.89543 10 6 10.8954 6 12V36C6 37.1046 6.89543 38 8 38Z", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                            h6(class="mb-2") Send us message
                            p(class="mb-0") hello@wireframes.org
                        div(class="col-12 col-md-4 text-center")
                            svg(class="mx-auto mb-4", width="48", height="48", viewbox="0 0 48 48", fill="none", xmlns="http://www.w3.org/2000/svg")
                                path(d="M41.9988 32.9533V38.3729C42.0073 40.4446 40.1445 42.1746 38.0528 41.9859C20.0001 42 6.00006 27.87 6.01419 9.93837C5.82581 7.85789 7.54721 6.00212 9.61628 6.00018H15.0466C15.925 5.99155 16.7766 6.302 17.4427 6.87368C19.3363 8.49899 20.5543 14.0155 20.0857 16.2086C19.7198 17.9207 17.9939 19.1186 16.8204 20.2897C19.3972 24.8124 23.1494 28.5571 27.681 31.1288C28.8544 29.9577 30.0547 28.2351 31.7702 27.87C33.971 27.4016 39.523 28.6213 41.1418 30.5281C41.7159 31.2042 42.0209 32.0674 41.9988 32.9533Z", stroke="#006251", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                            h6(class="mb-2") Call Us
                            p(class="mb-0") +7-843-672-431
                div(class="position-relative", style="height:350px; width: 100%; background-image: url('cronos-assets/images/maps/map.png'); background-repeat: no-repeat; background-size: cover;")
                    img(class="position-absolute top-0 end-0 translate-middle-y", src="cronos-assets/elements/warning-light-small.svg", alt="")
                    img(class="position-absolute top-100 start-0 translate-middle-y", src="cronos-assets/elements/green-light-left.svg", alt="")
                div(class="container position-relative", style="margin-top: -96px;")
                    div(class="row")
                        div(class="col-12 col-lg-8 mx-auto")
                            div(class="p-6 py-lg-12 px-lg-20 text-center bg-white shadow-lg")
                                h2(class="mt-6 mb-12") Lorem ipsum dolor sit amet consectutar
                                form(action="#")
                                    input(class="form-control mb-6", type="text", placeholder="Name")
                                    input(class="form-control mb-6", type="email", placeholder="E-mail")
                                    textarea(class="form-control mb-6", name="message", cols="30", rows="10", placeholder="Your Message...")
                                    button(class="btn btn-secondary w-100") Send
        script(src="js/bootstrap/bootstrap.bundle.min.js")
        script(src="js/main.js")
